<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/rooms/' %} active {% endif %}"><a href="{{ "/rooms/" | absolute_url }}">Zimmer & Preise</a></li>
  <li class="{% if page.url contains '/book/' %} active {% endif %}"><a href="{{ "/book/" | absolute_url }}">Buchen</a></li>
  <li class="{% if page.url contains '/location/' %} active {% endif %}"><a href="{{ "/location/" | absolute_url }}">Lage</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/impressum/" | absolute_url }}">Impressum</a></li>
  <!-- <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Referenz</a></li> -->
</ul>

<!-- TODO Add link to maps and booking here -->
<!-- <ul class="icons">
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
</ul> -->
